.poke-img-box {
    float: right;
    width: 23%;
    margin: 1%;
    padding: 1%;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.poke-img {
    transition: 0.3s;
    width: 100%;
}

.poke-desc {
    width: 73%;
    margin: 1%;
    padding: 1%;
}

.poke-img-box:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}