<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="../static/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div>
        <dev class="idcard">
            <img src="https://purepng.com/public/uploads/large/purepng.com-pokemonpokemonpocket-monsterspokemon-franchisefictional-speciesone-pokemonmany-pokemonone-pikachu-1701527784709esduz.png"
                alt="Pokemon Pic" style="width:100%">
        </dev>

        <div class="poke-desc">
            <h2>
                <strong># Pokemon Name</strong>
            </h2>
            <p>
                This is some text. This is some text. This is some text.
                This is some text. This is some text. This is some text.
                This is some text. This is some text. This is some text.
                This is some text. This is some text. This is some text.
                This is some text. This is some text. This is some text.
                This is some text. This is some text. This is some text.
                This is some text. This is some text. This is some text.
                This is some text. This is some text. This is some text.
                This is some text. This is some text. This is some text.
                This is some text. This is some text. This is some text.
                This is some text. This is some text. This is some text.
                This is some text. This is some text. This is some text.
                This is some text. This is some text. This is some text.
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.
            </p>

            <hr />
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h3>Pokemon 1</h3>
                        <p>Some text</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h3>Pokemon 2</h3>
                        <p>Some text</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h3>Pokemon 3</h3>
                        <p>Some text</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <hr />

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h3>Evolution 1</h3>
                        <p>Some text</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h3>Evolution 2</h3>
                        <p>Some text</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h3>Evolution 3</h3>
                        <p>Some text</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>